@font-face {
    font-family: 'untitled-sans';
    src: url('/fonts/UntitledSansWeb-Regular');
    src: url('/fonts/UntitledSansWeb-Regular?#iefix') format('embedded-opentype'),
        url('/fonts/UntitledSansWeb-Regular.woff') format('woff'),
        url('/fonts/UntitledSansWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'untitled-sans-medium';
    src: url('/fonts/UntitledSansWeb-Medium');
    src: url('/fonts/UntitledSansWeb-Medium?#iefix') format('embedded-opentype'),
        url('/fonts/UntitledSansWeb-Medium.woff') format('woff'),
        url('/fonts/UntitledSansWeb-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 12px;
    background-color: #191919;
    color: #fff;
    font-family: 'untitled-sans', sans-serif;
}

body {
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding-top: 67px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

strong,
.bold,
b {
    font-weight: bold;
}

em,
.i {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.no-under {
    text-decoration: none;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
}

img {
    width: 100%;
    display: block;
}

#nprogress .bar {
    background: #fff;
}

#nprogress .spinner-icon {
    border-top-color: #fff;
    border-left-color: #fff;
}

button {
    background: none;
    border-radius: 0;
    border: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
}

input {
    border: 0;
    border-radius: 0;
    background: none;
    appearance: none;
}

@media screen and (min-width: 480px) {
    body {
        padding-top: 108px;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 121px;
    }
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 0;
    }
}
